{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p class="lead">Our Mission</p>
<p>Food is undoubtedly one of life's greatest pleasures. That is why our project's goal is to enhance dining experiences by enabling customers to sample the very best restaurants. 
  Have you ever been too tired to read through lengthy reviews, only to end up disappointed with your dining experience despite a restaurant's high rating? We understand this 
  frustration and strive to develop a model that compiles numerous reviews of popular San Francisco restaurants to create a concise and thorough overview of each restaurant.</p>

<p>YelpGPT is a tool that we have created to allow foodies, like you and me, a quick and easy way to read restaurant reviews without actually reading every single one. 
  Our objective is to compare these generated reviews with the restaurants' description and see if it properly aligns with the public opinion. Typically in the NLP community, 
  this is called opinion summarization. With the rising popularity of language models, our team aims to tackle this task by using natural language processing.</p>

<p> If you have any questions or comments about our product feel free to send an email to _______ and we will respond shortly. Happy eating and we hope you enjoy using our product!</p>

{% endblock %}